# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
dev-dist
coverage
*.local

# Editor directories and files
/.nova
/.zed
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Laravel
/bootstrap/ssr
/node_modules
/public/app
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor

# Enviroment
.phpunit.cache
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/auth.json
